.only_form
  .content Submit a new place for us to learn stuff!
  %br
  =form_for @skill do |f|
    =f.text_field :title
    =f.label :title
    %br
    %br
    =f.text_field :url
    =f.label :website_domain
    .content (ex. http://www.google.com)
    %br
    %br
    =f.text_field :price
    =f.label :price
    %br
    %br
    =f.text_field :description
    =f.label :description
    %br
    =f.text_field :image
    =f.label :image
    %br
    =f.text_field :banner
    =f.label :banner
    %br
    =f.label "Categories"
    =f.collection_check_boxes :category_ids, Category.all, :id, :name do |cb|
      =cb.label(class: "checkbox inline") {cb.check_box(class: "checkbox") + cb.text}
    %br
    %br
    =f.submit
