= @skill.average_rating
.right_of_menu
  -@skill.reviews.each do |review|
    %br
    .well
      =review.content
      =review.rating

= form_for [@skill, Review.new] do |f|
  %label Rate this skill
  = f.select :rating, options_for_select([5,4,3,2,1].map {|number| [pluralize(number, "Star")]})
  %br  
  %label Write a review
  %br
  = f.text_area :content, rows: 6, class: "span6"
  %fieldset.actions.clearfix    
  %input(type="submit" value="Submit" class="btn")

