<div class="jumbotron">
  <h1>Welcome!</h1>
  <h3>Want to learn something?</h3>
  <p>It's our goal to bring education of all forms to one place. Our goal is to make sure only the highest quality curriculum is presented to you, saving you money and time, and preventing you from frustration and burnout. You can trust the material that you will find here.</p>
  <p><a class="btn btn-primary btn-lg" href="skills" role="button">Learn more</a></p>
</div>
<div class="col-md-4">
  <h2>Learn Anything!</h2>
  <p>Learn anything from coding, photography, marketing, business, Linux and more. We're working on adding college courses too. Can't find what you're looking for? Let us know! We want to hear from you</p>
</div>
<div class="col-md-4">
  <h2>Change Careers!</h2>
  <p>Our goal is to get you from where you are to where you want to be as quickly as possible. Don't wait for a Bachelors degree. Get an entry level position NOW and then when you get your bachelors degree you'll have four years of experience AND a degree.</p>
</div>

<div class="col-md-4">
  <h2>Advance Your Skills</h2>
  <p>Want a better job, to run your own business, to become a freelancer, get a degree online, or even change careers entirely? With our resources you can stay ahead of the game and always be on the forefront of your industry</p>
</div>
