body {
  /*   background-color: #66ff33; */
     }

.only_form {
     position: absolute;
     top:200px;
     left:500px;
     }


.right_of_menu {
     float: left;
     top: 20px;
     left: 500px;
}

.right_of_image {
     float: right;
}

.clear {
     clear: both;
}
