<!DOCTYPE html>
<html>
<head>
  <title>Arcane</title>
  <!-- 2EF72C0E-A512-43A3-93FD-46FBA9735FA4 -->
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
